.main__FAQ {
    margin-top: clamp(75px, calc(75 / 1810 * 100vw), 75px);
}

.FAQ {}

.FAQ__container {}

.FAQ__containerBox {
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    flex: 1 1 auto;
}

.FAQ__titile {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: calc(60/70);
    width: 80%;
    margin: 0 auto;
}

.qa__list {
    flex-direction: column;
    row-gap: 16px;
    width: 80%;
    margin: 0 auto;
}

.qa__item {
    flex-direction: column;
    border: 1px solid #929292;
}

.qa__box {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(23/18);
    padding: 20px 0;
}

.qa__box:hover {
    cursor: pointer;
    background-color: #929292;
}

.qa__question {
    flex: 1 1 90%;
    padding-left: 20px;
}

.qa__plus {
    padding-right: 20px;
}

.qa__answer {
    font-size: 14px;
    line-height: calc(22/14);
    padding: 70px;
}