.foter__container {
    flex-direction: column;
    row-gap: 35px;
}

._container {}

.footer__logo {
    width: 15%;
    margin: 0 auto;
}

.footer__listsBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    line-height: calc(21/18);
    font-weight: 300;
    justify-content: space-between;
}

.footer__titleListBox {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer__titleListBox h3 {
    font-weight: 600;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.item {}

.link {
    color: white;
}

.link:hover {
    cursor: pointer;
    color: #FCD54C;
}

.footer__list_about {}

.footer__list_buy {}

.footer__list_information {}

.footer__list_services {}

@media all and (max-width: 768px) {
    .footer__logo {
        width: 50%;
    }
    .footer__listsBox {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media all and (max-width: 320px) {
    .footer__logo {
        width: 70%;
    }
    .footer__listsBox {
        grid-template-columns: repeat(1, 1fr);
    }
}